.cardContainer {
  width: 80%;
  min-width: 230px;
  max-width: 340px;
  height: 400px;
  background-color: lightcyan;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
  border: 1px solid lightgray;
  border-radius: 8px;
  box-shadow: 10px 10px 26px -15px rgba(0, 0, 0, 0.75);
}

.cardContainer img {
  width: 100px;
  height: auto;
}
