.optionsContainer {
  grid-area: Options;
  width: 100%;
  max-width: 400px;
  height: 90%;
  border: 1px solid lightgray;
  border-radius: 8px;
  margin-top: 2vh;
  margin-left: 1vw;
  color: black;
  padding: 10px;
}

.favoritesContainer {
  display: flex;
  flex-direction: column;
  height: 20%;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}

.favoritesContainer button {
  width: 60%;
  background-color: green;
}

@media screen and (max-width: 430px) {
  .optionsContainer {
    display: none;
  }
}
