.homeContainer {
  height: 100vh;
  width: 100vw;
  display: grid;
  position: relative;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 120px repeat(5, 1fr);
  grid-auto-rows: 100px;
  grid-template-areas:
    "Header Header Header Header Header"
    "Options Body Body Body Body"
    "Options Body Body Body Body"
    "Options Body Body Body Body"
    "Options Body Body Body Body"
    "Options Body Body Body Body";
}

.addButton {
  color: darkblue;
  position: fixed;
  bottom: 70px;
  right: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(243, 243, 109);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 2.5rem;
}

.modalContainer {
  width: 400px;
  height: 400px;
  background-color: black;
}

.ReactModal__Content--after-open {
  background-color: black;
}

.modalForm {
  display: flex;
  flex-direction: column;
  height: 90%;
  margin-top: 20px;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  overflow-y: scroll;
}

.modalForm label {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  width: 100%;
  height: 10%;
  align-items: center;
}
.modalForm input {
  width: 80%;
  height: 70%;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 35px;
  padding: 5px 30px;
  font-size: 1.5rem;
  color: black;
}

.modalForm label textarea {
  resize: none;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 8px;
  width: 80%;
  height: 100%;
  color: black;
  padding: 5px 10px;
  font-family: inherit;
}

.modalForm label[for="description"] {
  height: 100px;
}

.modalForm label[for="photo"] input {
  margin-top: 20px;
}

.modalHeader {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.modalHeader button {
  background-color: green;
}

.modalHeader button:nth-child(3) {
  background-color: rgb(169, 12, 12);
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 430px) {
  html,
  body {
    width: 100vw;
    height: 100vh;
  }

  .homeContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .modalForm {
    width: 60%;
    border-radius: 8px;
  }

  .modalHeader {
    width: 60%;
    flex-direction: column;
  }
}
